{% extends 'form_div_layout.html.twig' %}

{% block form_row -%}
    <div class="form-group">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row %}

{% block widget_attributes -%}
    {% set attr = attr|merge({'class': 'form-control'}) %}
    {{ parent() }}
{%- endblock widget_attributes %}

{% block button_attributes -%}
    {% set attr = attr|merge({'class': 'btn btn-primary btn-block'}) %}
    {{ parent() }}
{%- endblock button_attributes %}