{% extends 'base.html.twig' %}

{% import 'util/macros.html.twig' as macros %}

{% block title %}{{ entity.title }} - {{ group_name }} - {{ parent() }}{% endblock %}

{% block body %}
    {{ macros.displayNotices() }}

    <div class="row">
        {% block item_box %}
            <div class="box col-md-12">
                {% block item_content %}
                    <h2>
                        {{ entity.title }}
                        {% block admin_options %}
                            {{ macros.displayAdminOptions(entity, routes.edit, routes.confirm_delete) }}
                        {% endblock %}
                    </h2>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}