{% extends 'base.html.twig' %}

{% import 'util/macros.html.twig' as macros %}


{% block title %}{{ article.title }} - News - {{ parent() }}{% endblock %}

{% block body %}

    {{ macros.displayNotices() }}

    <div class="row">
        <div class="box col-md-12">
            <h2>
                {{ article.title }}<br />
                <small>
                    {{ article.createdAt|date('g:ia \\o\\n l \\t\\h\\e jS \\o\\f F, Y') }}
                </small>
                {{ macros.displayAdminOptions(entity, 'route.admin.edit_news_article', 'route.admin.confirm_delete_news_article') }}
            </h2>
            <p>
                {{ article.content }}
            </p>
            <footer>
                <small>
                    Last updated at {{ article.lastUpdated|date('g:ia \\o\\n l \\t\\h\\e jS \\o\\f F, Y') }}
                </small>
            </footer>
        </div>
    </div>
{% endblock %}