{% extends 'crud/item.html.twig' %}

{% block item_content %}
    {{ parent() }}

    <div class="portfolio-item-description">
        <p>{{ entity.description }}</p>
    </div>
{% endblock %}

{% block admin_options %}
{{ parent() }}

    <a href="{{ entity.link }}" target="_blank" title="{{ entity.title }}" class="btn btn-primary">
        <i class="glyphicon glyphicon-zoom-in"></i>
        &nbsp; View
    </a>
{% endblock %}

{% block item_box %}
    {{ parent() }}

    {{ block('portfolio_item_image') }}
{% endblock %}

{% block portfolio_item_image %}
    <div class="col-md-12 box">
        <img class="portfolio-item-image" src="{{ entity.webPath }}"/>
    </div>
{% endblock %}